#project1 {
    display: none;
}

#project2{
    display: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: lightgray;
    /* color: #444; */
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: none;
    text-align: left;
    outline: none;
    /* font-size: 15px; */
}

.active, .collapsible:hover {
    background-color: darkgray;
    color: white;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    /* color: white; */
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: white;
}

/* Style buttons */
.downloadbtn {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 64px;
}
  
/* Darker background on mouse-over */
.downloadbtn:hover {
  background-color: black;
}

.contact-container {
    display: flex;
    min-width: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;  
}

.contact-box {
    flex-basis: 22%;
    text-align: center;
}

video {
    width: 100%;
    height: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* table {
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

/* Style for video container */
.video-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

/* Style for video box */
.video-box {
  flex-basis: 48%;
  /*margin-bottom: 1rem;*/
  text-align: justify;
}

table, th, td {
    border: 1px solid;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: left;
}

table {
    width: 80%;
    border-collapse: collapse;
}
