html,
body{
    font-family: 'Raleway', san-serif;
    color: #333;
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bg-image {
    /* The image used */
    background-image: url("../images/IMG_0522.jpg");

    /* Add the blur effect */
    /* filter: blur(4px);
    -webkit-filter: blur(4px); */
    font-size:0;
    line-height:0;

    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

.contact {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
}

.cvsection {
    width: 80%;
    max-width: 800pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cvsection h2 {
    font-size: 30px;
    margin-top: 50px;
}

.cvsection h3 {
    color: steelblue;
    font-size: 20px;
    margin-bottom: 0px;
}

.cvsection h4 {
    font-size: 14px;
    margin-bottom: 0px;
}

.cvsection p, ul {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}
