@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --new-black: #080808;
    --black\<deleted\|variable-8551cbdc\>: black;
    --google-blue: #4285F4;
    --webflow-blue: #146ef5;
    --webflow-blue\<deleted\|variable-59132acb\>: #4353ff;
    --white: white;
    --white-smoke\<deleted\|variable-3c2ffb2d\>: #eff0f3;
    --blue-600: #0055d4;
    --gray-800: #222;
    --blue-400: #3b89ff;
    --gray-500: #757575;
    --gray-300: #ababab;
    --gray-100: #f0f0f0;
    --gray-400: #898989;
    --gray-600: #5a5a5a;
    --gray-200: #d8d8d8;
    --gray-900: #171717;
    --gray-700: #363636;
    --yellow: #ffae13;
    --red: #ee1d36;
    --orange: #ff6b00;
    --green: #00d722;
    --purple: #7a3dff;
    --pink: #ed52cb;
}

html,
body{
    font-family: 'Inter', sans-serif;
    color: var(--new-black);
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
}

.cvsection {
    width: 80%;
    max-width: 800pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cvsection h2 {
    font-size: 30px;
    margin-top: 50px;
}

.cvsection h3 {
    color: var(--google-blue);
    font-size: 20px;
    margin-bottom: 0px;
}

.cvsection h4 {
    color: var(--gray-600);
    font-size: 14px;
    margin-bottom: 0px;
}

.cvsection p, ul {
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 5px;
}
