html, body{
    /* height: 100%; */
    font-family: 'Raleway', san-serif;
    color: #333;
}

.main {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.background {
    background-color: #FCFCF7;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.about {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about h1 {
    font-size: 40px;
    font-weight: bolder;
    color: #2F3C59;
}

.cvsection {
    width: 80%;
    max-width: 800pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cvsection h2 {
    font-size: 30px;
}

.cvsection h3 {
    color: steelblue;
    font-size: 20px;
    margin-bottom: 10px;
}

.cvsection p {
    font-size: 14px;
    margin-bottom: 5px;
}
